body{
    background-color: white;
    color: rgb(72, 69, 69);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.1em;

}

.container{
    width: 80%;
    margin: auto;
    padding: 2px;
    overflow: hidden;
}


#main-header{
background-color: rgb(101, 34, 9);
color:white;
text-align: center;
font-size: 18px;
}

#navbar{
    background-color: darkgrey;
    font-size: 16px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    display: inline;
    font-size: 18px;
}

#navbar a {
    color: white;
    text-decoration: none;
   padding-right: 20px;
}

a :hover{
    background-color: red;
}

#showcase{
    background-image: url('images/showcasing.webp');
    height: 300px;
    background-position: center right;
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    color: black;
    line-height: 1.6em;
    
}

#main-bar{
    float: left;
    background-color: grey;
    color: white;
    width: 70%;
    margin-top: 10px;
    

}

#main-bar h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6em;
    color: rgb(33, 26, 39);
}

#sidebar{
    float: right;
    background-color: coral;
    color: black;
    width: 30%;
    margin-top: 10px;
   

}

#sidebar h2{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4em;
    color: blueviolet;
}
.clr

#main-footer h3{
background-color: rgb(104, 91, 91);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:5px;
}

#main-footer h3{
background-color: rgb(104, 91, 91);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:5px;
}

.clr
.images{
    margin: auto;
    border: 2px black dotted;
    border-radius: 18px;
    padding-left: 80px;
    
    
}

.images{
    margin: auto;
    border: 2px black dotted;
    border-radius: 18px;
    padding-left: 80px;
    
    
}

.button{
    background-color: darkblue;
    color: red;
    padding: 5px;
    border: 2px yellow solid;
}

 }





